* {
    padding: 0;
    margin: 0;
}

.bg-gif {
    background-image: url('/components/imag/Anas.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.card-log {
    background-color: #0c3f2834 !important;
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    color: #fff !important;
  }

.bg-white {
    background-color: #ffffff5c;
    height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
